[Global]
mimic model = Xserve
log file = /dev/stdout
{% if log_level is defined %}
log level = default:{{log_level}}
{% else %}
log level = default:info
{% endif %}
zeroconf = no

{% for storage in storages %}
[{{storage.name}}]
path = /media/time_machine/{{storage.path}}
valid users = {{storage.user}}
time machine = yes
{% if storage.size_limit is defined %}
vol size limit = {{storage.size_limit}}
{% else %}
vol size limit = {{default_volume_size_limit}}
{% endif %}
{% endfor %}
