[Global]
log file = /dev/stdout
{% if log_level is defined %}
log level = default:{{log_level}}
{% else %}
log level = default:info
{% endif %}

{% if server_name != "" %}
[{{server_name}}]
{% else %}
[Time Machine]
{% endif %}
path = /media/time_machine
valid users = tmuser
time machine = yes
{% if volume_size_limit is defined %}
vol size limit = {{volume_size_limit}}
{% endif %}
